 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Consolas";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #999;
    padding: 25px;
}

.Calculator {
    position: relative;
    box-shadow: 5px 5px 5px #363535, -5px -5px 5px #363535;
    width: 300px;
    text-align: center;
}

.container {
    border-color: white;
    background: #363535;
    padding: 15px;
    border-radius: 20px;

}

.heading {
    text-align: center;
    color: #f0f0f0;
    font-family: "Roboto";

}

 

.inp-style {
    position: relative;
    background-color: #a7af7c;
    border: none;
    height: 14vh;
    width: 270px;
    text-align: right;
    color: black;
    padding: 10px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: inset 0 6px 1px 0 rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    user-select: none;
}


button {
    padding: 10px;
    margin: 5px;
    width: 50px;
    height: 7vh;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 2px solid #222;
    border-radius: 6px;
    background: linear-gradient(#555353, #363535);
    box-shadow: inset 0 6px 1px 0 rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);

     
     



}

.operator1 {
    padding: 10px;
    margin: 5px;
    height: 7vh;
    min-width: 50px;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    color: #999;
    border: 2px solid #222;
    border-radius: 6px;
    background: #B21E1E;
    box-shadow: inset 0 6px 1px 0 rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
     
    



}

.operator3 {
    padding: 10px;
    margin: 5px;
    height: 7vh;
    min-width: 50px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: black;
    border: 2px solid #222;
    border-radius: 6px;
    background: #4EA04F;
    box-shadow: inset 0 6px 1px 0 rgba(0, 0, 0, 0.35),
        0 5px 5px rgba(0, 0, 0, 0.5),
        0 15px 25px rgba(0, 0, 0, 0.35);
    
}

.operator:active {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.35),
        inset 0 5px 15px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    color: #fff;
    text-shadow: 0 0 5px #219cf3,
        0 0 8px #219cf3;
    

}

.operator1:active {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.35),
        inset 0 5px 15px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    color: #fff;
    text-shadow: 0 0 5px #219cf3,
        0 0 8px #219cf3;
   

}

.operator3:active {
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.35),
        inset 0 5px 15px rgba(0, 0, 0, 0.5),
        inset 0 15px 25px rgba(0, 0, 0, 0.35);
    color: #fff;
    text-shadow: 0 0 5px #219cf3,
        0 0 8px #219cf3;
     outline: none;
     

}